In [2]:
import pymysql
import pandas as pd

In [59]:
conn = pymysql.connect(host='localhost', user='root', password='102377',
db = 'sakila', charset='utf8')

cur = conn.cursor()
cur.execute('select * from actor')
rows = cur.fetchall() # 모든 데이터를 가져옴
language_df = pd.DataFrame(rows, columns = ['버릴것','이름','성','날짜']) # DataFrame 형태로 변환
language_df.drop(columns = '버릴것',inplace = True)
print(language_df)
cur.close()
conn.close()

           이름             성                  날짜
0    PENELOPE       GUINESS 2006-02-15 04:34:33
1        NICK      WAHLBERG 2006-02-15 04:34:33
2          ED         CHASE 2006-02-15 04:34:33
3    JENNIFER         DAVIS 2006-02-15 04:34:33
4      JOHNNY  LOLLOBRIGIDA 2006-02-15 04:34:33
..        ...           ...                 ...
195      BELA        WALKEN 2006-02-15 04:34:33
196     REESE          WEST 2006-02-15 04:34:33
197      MARY        KEITEL 2006-02-15 04:34:33
198     JULIA       FAWCETT 2006-02-15 04:34:33
199     THORA        TEMPLE 2006-02-15 04:34:33

[200 rows x 3 columns]

In [49]:
rows = list(rows)
rows[3]

(4, 'JENNIFER', 'DAVIS', datetime.datetime(2006, 2, 15, 4, 34, 33))

In [60]:
language_df

           이름             성                  날짜
0    PENELOPE       GUINESS 2006-02-15 04:34:33
1        NICK      WAHLBERG 2006-02-15 04:34:33
2          ED         CHASE 2006-02-15 04:34:33
3    JENNIFER         DAVIS 2006-02-15 04:34:33
4      JOHNNY  LOLLOBRIGIDA 2006-02-15 04:34:33
..        ...           ...                 ...
195      BELA        WALKEN 2006-02-15 04:34:33
196     REESE          WEST 2006-02-15 04:34:33
197      MARY        KEITEL 2006-02-15 04:34:33
198     JULIA       FAWCETT 2006-02-15 04:34:33
199     THORA        TEMPLE 2006-02-15 04:34:33

[200 rows x 3 columns]

§ cursor() 함수  
     - cursor 객체 생성  
     - cursor: 쿼리문에 의해 반환되는 결과값을 저장하는 공간  

§ cursor.execute(‘쿼리문장’, args=None) 함수  
     - 작성한 쿼리를 실행  

§ fetch 관련 함수  
     - fetchall(): 모든 데이터를 한 번에 가져옴  
     - fetchone(): 한 번 호출에 하나의 행만 가져옴  
     - fetchmany(n): n개 만큼의 데이터를 가져옴  

§ commit() 함수  
     - 데이터를 추가, 수정, 삭제 등의 작업을 수행한 다음에 실행  

§ close() 함수  
     -  MySQL과의 연결 종료

In [38]:
import pymysql
conn = pymysql.connect(host='localhost', user='root', password='102377',
db = 'sakila', charset='utf8')

cur = conn.cursor()

query = """
select c.email
from customer as c
inner join rental as r
on c.customer_id = r.customer_id
where date(r.rental_date) = (%s)"""

cur.execute(query, ('2005-06-14'))
rows = cur.fetchall() # 모든 데이터를 가져옴
for row in rows:
    print(row)
cur.close()
conn.close()

('CATHERINE.CAMPBELL@sakilacustomer.org',)
('JOYCE.EDWARDS@sakilacustomer.org',)
('AMBER.DIXON@sakilacustomer.org',)
('JEANETTE.GREENE@sakilacustomer.org',)
('MINNIE.ROMERO@sakilacustomer.org',)
('GWENDOLYN.MAY@sakilacustomer.org',)
('SONIA.GREGORY@sakilacustomer.org',)
('MIRIAM.MCKINNEY@sakilacustomer.org',)
('CHARLES.KOWALSKI@sakilacustomer.org',)
('DANIEL.CABRAL@sakilacustomer.org',)
('MATTHEW.MAHAN@sakilacustomer.org',)
('JEFFERY.PINSON@sakilacustomer.org',)
('HERMAN.DEVORE@sakilacustomer.org',)
('ELMER.NOE@sakilacustomer.org',)
('TERRANCE.ROUSH@sakilacustomer.org',)
('TERRENCE.GUNDERSON@sakilacustomer.org',)