In [14]:
import pandas as pd

In [15]:
data = [[1,2,3,4],[11,22,33,44],['a','b','c','d'],['A','B','C','D']]

In [16]:
df_Data = pd.DataFrame(data)

In [17]:
df_Data

    0   1   2   3
0   1   2   3   4
1  11  22  33  44
2   a   b   c   d
3   A   B   C   D

In [18]:
df_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       4 non-null      object
 1   1       4 non-null      object
 2   2       4 non-null      object
 3   3       4 non-null      object
dtypes: object(4)
memory usage: 256.0+ bytes

In [25]:
df_Data.rename({0:'가', 1:'나',2:'다',3:'라'}, axis=1, inplace=True)

In [26]:
df_Data

    가   나   다   라
0   1   2   3   4
1  11  22  33  44
2   a   b   c   d
3   A   B   C   D

In [27]:
df_Data['가']

0     1
1    11
2     a
3     A
Name: 가, dtype: object

In [30]:
df_Data.loc[0]

가    1
나    2
다    3
라    4
Name: 0, dtype: object